{% load i18n mezzanine_tags %}

<div id="topblock" class="row">

<div id="toptext" class="span6 left">

    <h4>{% trans "We believe more radical action is required to alleviate the difficulty of too many Staffies &amp; too few homes." %}</h4>
<p>Taking a Staffie from a home where it is no longer wanted, is abused, abandoned or is awaiting a death sentence in a pound certainly helps the dogs immediately involved. However, this does nothing for those still out there, being over-bred, sold to supplement benefits or exchanged for drugs, or even, as in one recent case, <strong>swapped for a bicycle!</strong></p>
    <ul id="toplist">
    <li>We are The Julia Taylor Staffie Trust, a Registered Scottish Charity No SCO43686 trading as &quot;Save A Staffie Scotland&quot;.</li>
    </ul>
    <p>We are a group of people who have spent  years working for other dog rescues and have come to the conclusion that a new approach to the trouble the breed finds itself in is needed. The work that rescues do is admirable, but we believe that more radical action is required to alleviate the difficulty of too many Staffies and too few homes.</p>
    
</div>

<div class="span6 right">
    <img class="thumbnail" src="{{ STATIC_URL }}img/logo2_440x440.png" />
</div>

</div><!-- /row -->

<div class="row">

<div class="span4">

    <h3>Create A Staffie Centre</h3>
    <p>Our aims are principally to ensure that a facility exists to provide shelter, care, rehabilitation and rehoming for unwanted or abandoned Staffordshire Bull Terriers in Scotland. It is our intention to raise funds to create such a centre.</p>

</div>
<div class="span4">

    <h3>Lobby Parliament</h3>
    <p>We will lobby the Parliament to change legislation. More effort is needed to persuade the Scottish Parliament that something has to be done to introduce and enforce effective legislation to control the breeding of not only Staffies but all breeds.</p>

</div>
<div class="span4">

    <h3>Sensible &amp; Responsible</h3>
    <p>We will encourage and promote responsible and sensible ownership of all dogs through public education and awareness events across Scotland, via the media, campaigns and by holding relevant events throughout Scotland.</p>

</div>

</div>


