{% extends "mobile/base.html" %}
{% load i18n mezzanine_tags geocoder %}


{% block meta_title %}{% if page %}{{ page.richtextpage.title }}{% else %}{% trans "Events" %}{% endif %}{% endblock %}


{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if page %}{{ page.title }}{% else %}{% trans "Events" %}{% endif %}
{% endblock %}


{% block main %}{{ block.super }}

    <h1>{{ event.title }}</h1>

    <p>
        {{ event.event_date }} from {{ event.start_time }} until {{ event.end_time }}
    </p>
    
    {{ event.content|richtext_filter|safe }}

{% block event_post_detail_sharebuttons %}
{% set_short_url_for event %}
<p>
<a class="btn small primary share-twitter" target="_blank" href="http://twitter.com/home?status={{ event.short_url|urlencode }}%20{{ event.title|urlencode }}">{% trans "Share on Twitter" %}</a>
<a class="btn small primary share-facebook" target="_blank" href="http://facebook.com/sharer.php?u={{ request.build_absolute_uri }}&amp;t={{ event.title|urlencode }}">{% trans "Share on Facebook" %}</a>
</p>
{% endblock %}

<div class="row-fluid">
        <div class="span4">
                <b>Location</b>
                <address>
                            {{event.address|linebreaksbr}}<br />
                        <a href='{{event|google_nav_url}}' class="btn btn-small">
                                Get Directions
                        </a>
                </address>
        </div>
</div>

    {% google_static_map event 670 150 10 %}


{% endblock %}