{% extends "mobile/base.html" %}
{% load i18n future mezzanine_tags blog_tags keyword_tags %}

{% block meta_title %}{% if page %}{{ page.richtextpage.title }}{% else %}{% trans "Volunteers" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if page %}{{ page.title }}{% else %}{% trans "Volunteers" %}{% endif %}
{% endblock %}

{% block main %}

<h1>Thanks</h1>
<p>Someone will be in touch with you shortly.</p>


{% endblock %}
