{% extends "pages/page.html" %}
{% load mezzanine_tags i18n %}


{% block main %}{{ block.super }}

    {% editable story.title %}
    <h1>{{ story.title }}</h1>
    {% endeditable %}

    

{% editable story.content %}
            {{ story.content|richtext_filter|safe }}
        {% endeditable %}
 

{% block story_post_detail_sharebuttons %}
{% set_short_url_for story %}
<a class="btn small primary share-twitter" target="_blank" href="http://twitter.com/home?status={{ story.short_url|urlencode }}%20{{ story.title|urlencode }}">{% trans "Share on Twitter" %}</a>
<a class="btn small primary share-facebook" target="_blank" href="http://facebook.com/sharer.php?u={{ request.build_absolute_uri }}&amp;t={{ story.title|urlencode }}">{% trans "Share on Facebook" %}</a>
{% endblock %}


{% endblock %}