{% extends "mobile/base.html" %}
{% load i18n future mezzanine_tags keyword_tags %}

{% block meta_title %}{% if page %}{{ page.richtextpage.title }}{% else %}{% trans "Supporters" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if page %}{{ page.title }}{% else %}{% trans "Supporters" %}{% endif %}
{% endblock %}

{% block main %}

<ul>
{% for s in supporters %}
    <li><a href="{% url 'supporters:detail' s.id %}">{{ s.title }}</a></li>
{% endfor %}
</ul>
{% pagination_for supporters %}


{% endblock %}
